
@import url('https://fonts.cdnfonts.com/css/sequel');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.cdnfonts.com/css/solway?styles=50538,170611,50536,170612,50537,170615,50534,170614,50535,170613');
@import url('https://fonts.cdnfonts.com/css/ia-writer-duospace?styles=25006,25007,25004,25005');
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
@import url('https://fonts.cdnfonts.com/css/apercu-mono-pro?styles=108435,108433,108434,108432');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles/snow.css 또는 다른 CSS 파일에 추가 */
section[aria-label="Phaser Game"] {
  width: 100%;
  max-width: 800px; /* 필요에 따라 변경 */
}

canvas {
  width: 100% !important;
  height: auto !important;
}

/* audio */
.audio-player {
  /* --player-button-width: 3em;
  --sound-button-width: 2em;
  --space: 0.5em;
  width: 15rem; */
  /* height: 15rem; */
}

.icon-container {
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio-icon {
  width: 90%;
  height: 90%;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  /* margin-top: 10px; */
}

.player-button {
  background-color: transparent;
  border: 0;
  /* width: var(--player-button-width); */
  /* margin-left: 0.1rem;
  margin-right: 0.5rem; */
  height: var(--player-button-width);
  cursor: pointer;
  padding: 0;
}

.player-button-left {
  background-color: transparent;
  border: 0;
  /* width: var(--player-button-width); */
  /* margin-left: 0.5rem; */
  margin-right: 0.5rem;
  height: var(--player-button-width);
  cursor: pointer;
  padding: 0; 
}

.player-button-right {
  background-color: transparent;
  border: 0;
  /* width: var(--player-button-width); */
  margin-left: 1rem;
  /* margin-right: 0.5rem; */
  height: var(--player-button-width);
  cursor: pointer;
  padding: 0; 
}

.timeline {
  -webkit-appearance: none;
  width: calc(92%);
  height: 0.3em;
  background-color: #f3f1f1;
  border-radius: 0px;
  background-image: linear-gradient(to right, #de5e97, #de5e97); /* 채우기 색상 */
  background-size: 0% 100%; /* 기본적으로 채우기 없음 */
  background-repeat: no-repeat;
  margin-left: var(--space);
}

.timeline::-webkit-slider-thumb,
.timeline::-moz-range-thumb,
.timeline::-ms-thumb {
  display: none; /* 원형 숨기기 */
}


.sound-button {
  background-color: transparent;
  border: 0;
  width: var(--sound-button-width);
  height: var(--sound-button-width);
  margin-left: 1rem;
  cursor: pointer;
  padding: 0;
}
/* */


/* font */
.font-guel { 
  font-family: DM Mono, "Ownglyph guelmi";
  font-size: 13px;
}

.font-anonymous { 
  font-family: Anonymous Pro;
}

.font-suite { 
  font-family: DM Mono, 'SUITE-Regular', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 2px; 
}

.font-nanum {
  font-family: Google Sans Mono, "NanumSquareNeo", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 2px;
}


.font-noto {
  font-family: DM Mono, "Noto Sans KR", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 2px;
}

.font-ia {
  font-family: iA Writer Mono S, monospace;
  font-style: italic;
}

.font-dm { 
  font-family: "DM Mono", "Noto Sans KR",  monospace;
  font-weight: 300;
  font-style: normal;
}

.font-apercu { 
  font-family: 'Apercu Mono Pro', monospace;
}

.font-locus {
  font-family: DM Mono, "locus_sangsang";
  font-size: 0.8rem;
}

.font-ia-locus {
  font-family: iA Writer Mono S, "locus_sangsang", monospace;
  font-size: 0.8rem;
}

.font-bantayog { 
  font-family: 'Bantayog-Semilight';
}

.font-sequel {
  font-family: "Sequel";
}
.font-google { 
  font-family: "Google Sans Mono", "Noto Sans KR", monospace;
  font-style: normal;
}

.font-line { 
  font-family: LineSeedJPEN, "LineSeedKR";
  font-weight: 900 !important;
}

@font-face {
  font-family: 'NanumSquareNeoLight';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-aLt.ttf) format("truetype");
}

@font-face {
  font-family: 'NanumSquareNeo';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.ttf) format("truetype");
}

@font-face {
  font-family: 'NanumSquareNeoBold';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.ttf) format("truetype");
}

@font-face {
  font-family: 'NanumSquareNeoExtraBold';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-dEb.ttf) format("truetype");
}

@font-face {
  font-family: 'NanumSquareNeoHeavy';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.ttf) format("truetype");
}

@font-face {
  font-family: 'NanumSquareNeoVariable';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.ttf) format("truetype");
}

@font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ONE-Mobile-Title';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face { 
  font-family: "Google-Sans-Mono-Regular";
  src:url('../../public/fonts/gsm/Google-Sans-Mono-Regular.ttf')
}

@font-face { 
  font-family: 'Bantayog-Semilight';
  src: url('../../public/fonts/Bantayog-Semilight.otf')
}

@font-face {
  font-family: 'Ownglyph_guelmi';
  src: url('../../public/fonts/Ownglyph_guelmi.ttf')
}

@font-face {
  font-family: 'locus_sangsang';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/locus_sangsang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/*  */


.styles-module_calendar__sT1ND text {
  fill: currentColor;
}

article {
  & figure[data-rehype-pretty-code-figure] {
      & pre {
          & > code {
              > button:has(> span) {
                  animation-duration: 200ms;
                  /* display: none; */
              }
          }
      }
  }
}

@layer base {

  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 80.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 80.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 80.1%;
    --accent-foreground: 0 0% 9%;
    --additive: 112 50% 36%;
    --additive-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    /* --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --primary: 34 54% 81%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --additive: 112 50% 36%;
    --additive-foreground: 0 0% 9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --ring: 0 0% 83.1%;

    --chart-1: 34 54% 81%;
    --chart-2: 34 34% 73%;
    --chart-3: 35 22% 65%;
    --chart-4: 35 16% 57%;
    --chart-5: 35 12% 41%;
    --chart-6: 33 12% 33%;
    --chart-7: 32 12% 25%; */
  }

  .dark {
      --background: 0 0% 100%;
      --foreground: 0 0% 3.9%;
      --primary: 0 0% 9%;
      --primary-foreground: 0 0% 98%;
      --secondary: 0 0% 80.1%;
      --secondary-foreground: 0 0% 9%;
      --muted: 0 0% 80.1%;
      --muted-foreground: 0 0% 45.1%;
      --accent: 0 0% 80.1%;
      --accent-foreground: 0 0% 9%;
      --additive: 112 50% 36%;
      --additive-foreground: 0 0% 9%;
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;
      --border: 0 0% 89.8%;
      --ring: 0 0% 3.9%;
    /* --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --primary: 34 54% 81%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --additive: 112 50% 36%;
    --additive-foreground: 0 0% 9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --ring: 0 0% 83.1%; */

    /* --chart-1: 34 54% 81%;
    --chart-2: 34 34% 73%;
    --chart-3: 35 22% 65%;
    --chart-4: 35 16% 57%;
    --chart-5: 35 12% 41%;
    --chart-6: 33 12% 33%;
    --chart-7: 32 12% 25%; */
  }

  *,
  *::before,
  *::after {
    @apply border-border;
  }


  /*
  ==========
  blockquote
  ==========
  */
  blockquote > p {
    font-family: "iA Writer Mono S", 'locus_sangsang', monospace !important;
    display: inline;
  }
  blockquote > p:before {
    content: none !important;
  }
  blockquote > p:after {
    content: none !important;
  }

  html {
    color-scheme: light;
    @apply bg-background text-foreground;

    &.dark {
      color-scheme: dark;
    }

    ::-webkit-scrollbar-corner {
      @apply bg-transparent;
    }
  }

  .disable-transitions,
  .disable-transitions * {
    @apply !transition-none;
  }
}



@layer components {

  h1, h2, h3, h4, h5 {
    @apply font-heading;
    font-weight: 900 !important;
  }
  
  article {
    @apply prose-headings:scroll-mt-20 prose-headings:break-words;
    @apply prose-p:break-words;
    @apply prose-a:!text-primary prose-a:!decoration-primary/50 prose-a:!underline-offset-[3px] prose-a:transition-colors hover:prose-a:!decoration-inherit;
    @apply prose-blockquote:!not-italic prose-blockquote:!text-muted-foreground;
    @apply prose-pre:!px-0;
    @apply prose-img:mx-auto prose-img:rounded-xl prose-img:border;
    @apply prose-table:mx-auto prose-table:block prose-table:max-w-fit prose-table:overflow-x-auto prose-td:break-words;
    @apply sm:prose-table:mx-0 sm:prose-table:table sm:prose-table:max-w-none;

    /* Fixing Katex display */
    .katex-display {
      @apply overflow-x-auto overflow-y-hidden py-4;
    }

    /* Fixing Katex fractions */
    .frac-line {
      @apply border-foreground;
    }

    /* Removes background from <mark> elements */
    mark {
      @apply bg-transparent;
    }

    /* Blanket syntax highlighting */
    code[data-theme*=' '] {
      span {
        color: var(--shiki-light);
      }

      .dark & span {
        color: var(--shiki-dark);
      }
    }

    /* Inline code */
    :not(pre) > code {
      @apply relative rounded bg-muted/50 px-[0.3rem] py-[0.2rem] font-mono text-sm font-medium before:!content-none after:!content-none;
    }

    /* Code blocks */
    figure[data-rehype-pretty-code-figure] {
      @apply relative;

      /* Code block titles */
      [data-rehype-pretty-code-title] {
        @apply break-words bg-stone-50 px-4 py-2 tracking-normal text-xs font-medium text-foreground font-google;

        /* Remove top margin from code block if a title is present */
        & + pre {
          @apply mt-0 rounded-t-none;
        }
      }

      /* Code block styles */
      pre {
        @apply static max-h-[600px] overflow-auto tracking-wider rounded-md bg-white py-4 text-sm leading-loose;


        /* Code block content */
        > code {
          @apply whitespace-pre-wrap;
          counter-reset: line;

          /* For code blocks with line numbers */
          &[data-line-numbers] {
            > [data-line]::before {
              counter-increment: line;
              content: counter(line);
              @apply mr-4 inline-block w-4 text-right text-muted-foreground;
            }
          }

          /* For each line in the code block */
          > [data-line] {
          }

          /* Highlighted lines */
          [data-highlighted-line] {
            @apply bg-foreground/10;
          }

          /* Highlighted characters */
          [data-highlighted-chars] > span {
            @apply bg-muted-foreground/40 py-[7px];
          }

          .tab {
            @apply relative;
          }

          .tab::before {
            @apply absolute opacity-30;
            content: '⇥';
          }

          /* Skip lines */
          .skip {
            @apply my-2 bg-foreground/5 text-center text-foreground;

            &::before {
              content: '' !important;
            }
          }

          /* Diff lines */
          .diff {
            &.add {
              @apply bg-additive/15;
            }
            &.remove {
              @apply bg-destructive/15;
              &::before {
                content: '-';
                counter-increment: none;
              }
            }
            &.highlight {
              @apply bg-foreground/10;
            }
          }

          /* Copy button */
          > button:has(> span) {
            @apply right-1 top-1 m-0 size-8 rounded-lg bg-secondary p-1 backdrop-blur-none transition-all duration-200;
          }
          
        }
      }
    }
  }
}
