---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Container from '@/components/Container.astro'
import Timeline from '@/components/Timeline.astro'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'
const projects = await getCollection('projects')
---

<Layout title="About" description={SITE.DESCRIPTION}>
  <Container class="flex flex-col gap-y-6">
    <Breadcrumbs items={[{ label: 'About', icon: '' }]} />

    <section>
      <div class="min-w-full">
        <h1 class="font-sequel mb-4 text-3xl font-bold">About</h1>
        <p class="font-locus mb-8 text-xl leading-normal dark:prose-invert">
          안녕하세요. 저는 이찬행 이라고 합니다. 컴퓨터 공학과를 중퇴 후,
          부트캠프 과정을 수료, 리액트 프론트엔드 개발을 시작하였으며 이후
          다양한 언어와 다양한 기술들을 학습하였고 현재는 iOS 앱 개발을 하고
          있습니다.

          <br />
          <br />

          * 2019-2020 : 코드스테이츠 부트캠프
          <br />
          * 2020.02-2020.06 : IPS Papaya(주)
          <br />

          <!-- <div class="font-google">Tech Stack</div> -->
          * Swift · SwiftUI · Typescript · Node.js · Kotlin · Python
        </p>
      </div>
    </section>

    <!-- Veritcal Tiemline -->
    <div class="-my-6">
      {projects.map((project) => <Timeline project={project} />)}
    </div>

    <div class="mt-8"></div>
  </Container>
</Layout>
