---
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getCollection } from 'astro:content'

import Player from '@/components/bento/Player'
import PhaserGame from '@/components/ui/phaser'

const blog = (await getCollection('blog'))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE)
---

<Layout title="Home" description={SITE.DESCRIPTION}>
  <html>
    <head>
      <script src="/bundle.min.js" defer></script>
      <!-- <script src="https://unpkg.com/wavesurfer.js"></script> -->
      <!-- Phaser 게임 번들 -->
      <link rel="stylesheet" href="styles/snow.css" />
    </head>
    <body>
      <section class="mx-auto max-w-[800px] px-4" aria-label="Phaser Game">
        <PhaserGame />
        <!-- 게임 -->
      </section>
    </body>
  </html>

  <section
    class="mx-auto grid max-w-[800px] grid-cols-2 gap-4 px-4 [grid-template-areas:'a_a'_'a_a'_'b_b'_'b_b'_'e_e'_'h_i'_'h_c'_'k_c'_'d_d'_'d_d'_'g_g'_'g_g'_'f_f'_'j_j'_'j_j'] *:rounded-3xl *:border *:bg-secondary/25 *:bg-cover *:bg-center *:bg-no-repeat sm:max-w-[800px] sm:grid-cols-3 sm:[grid-template-areas:'a_a'_'b_d'_'e_e'_'j_g'_'h_i'_'h_c'_'k_c'_'f_f'] xl:max-w-[800px] xl:grid-cols-3 xl:[grid-template-areas:'a_a_b_c'_'d_e_e_c'_'h_f_f_g'_'h_i_j_k'] xl:[&:hover:has(>.has-overlay:hover)>.first>.overlay]:opacity-100 xl:[&:hover>*:not(.first):hover_.overlay]:opacity-100"
  >
    <div
      class="has-overlay relative flex aspect-square items-center justify-center [grid-area:i] hover:bg-none xl:bg-[url('/static/bento/github-silhouette.webp')]"
    >
      <Player client:load />
    </div>
  </section>
</Layout>
