---
import Container from '@/components/Container.astro'
import Link from '@/components/Link.astro'
import { NAV_LINKS, SITE } from '@/consts'
---

<header
  class="sticky top-0 z-10 bg-background/50 backdrop-blur-md"
  transition:persist
>
  <Container>
    <div class="flex gap-6 !px-0 py-4 sm:px-0 xl:px-0">
      <Link
        href="/"
        class="font-bantayog text-md tems-center font-light transition-colors duration-300 hover:text-primary"
      >
        {SITE.TITLE}
      </Link>
      {
        NAV_LINKS.map((item) => (
          <Link
            href={item.href}
            class="font-bantayog font-light transition-colors hover:text-foreground/80"
          >
            {item.label}
          </Link>
        ))
      }
    </div>
  </Container>
</header>
